{% extends 'base.html.twig' %}
{% block body %}
<h3>AUTH</h3>
<form method="post" name="authForm">
    username<br>
    <input type="text" id="email" name="email" value="developer@concedra.de"><br>
    password<br>
    <input type="text" id="password" name="password" value="123456"/><br>
    <input type="submit" name="submit" id="login" value="Submit"/><br>
</form>
<hr>
<h3>REQUEST</h3>
<form name="requestForm">
    method<br>
    <input type="text" id="method" name="method" value="" placeholder="GET"><br>
    url<br>
    <input type="text" id="url" name="url" value="" placeholder="users"><br>
    если надо отправить значения, то пиши это здесь<br>
    пример предполагаемых инпутов {"name":"value"}<br>
    <textarea name="inhalt" style="width: 330px; height: 100px;">{
    "type":"png",
    "name":"NewName",
    "beginning":"2022-12-06T01:22:26+00:00",
    "ending":"2022-12-06T01:22:26+00:00",
    "period":"2022-12-06T01:22:26+00:00"
}</textarea><br>
    <input type="button" name="button" onclick="forAPP()" value="Submit"/><br>
</form>
<hr>
<h3>REQUEST-file</h3>
<form id="formElem" enctype="multipart/form-data">
    method<br>
    <input type="text" id="methodf" name="method" value="POST" placeholder="POST"><br>
    url<br>
    <input type="text" id="urlf" name="url" value="files" placeholder="files"><br>
    <input type="file" id="file" name="files[]" multiple="true"><br>
    <input type="button" name="button" onclick="forAPPfile()" value="Submit"/><br>
</form>
<hr>
<div id="aus"></div>
<script>
var res = '';
document.getElementById('login').addEventListener('click', function (e) {
    res = '';
    aus.innerHTML = '';
    e.preventDefault();
    let authForm = document.forms['authForm'];
    let email = authForm.elements['email'].value;
    let password = authForm.elements['password'].value;

    let eingang = JSON.stringify({
        email: email,
        password: password,
    });

    let xhr = new XMLHttpRequest();

    // первая аутентификация по емейлу и логину
    xhr.open('POST', '/api/login', false);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.onreadystatechange = function () {
        if(xhr.status == 200) {
            res = JSON.parse(xhr.response)
        }
        else {
            aus.innerHTML = '<font color="#FF0000">Ошибка соединения см. консоль</font> ';
            console.log(xhr);
        }
    }
    xhr.send(eingang);

    // запрос в TestController, чтобы получить код аутентификации
    let xhr2 = new XMLHttpRequest();
    let res2;
    let auth_code;

    xhr2.open('POST', '/two_factor/' + email, false);
    xhr2.setRequestHeader('Content-Type', 'application/json');
    xhr2.onreadystatechange = function () {
        if(xhr2.status == 200) {
            auth_code = JSON.parse(xhr2.response).auth_code;
        }
        else {
            aus.innerHTML = '<font color="#FF0000">Ошибка соединения см. консоль</font> ';
        }
    }
    xhr2.send();

    let eingang2 = JSON.stringify({
        authCode: auth_code
    });

    // аутентифицируемся с кодом аутентификации
    let autt;

    let xhr2fa = new XMLHttpRequest();
    xhr2fa.open('POST', '/api/2fa', false);
    xhr2fa.setRequestHeader('Content-Type', 'application/json');
    xhr2fa.onreadystatechange = function () {
        if(xhr2fa.status ==200) {
            aus.innerHTML = '<font color="#006600">Вы авторизованы</font> ';
            autt = xhr2fa.response
        }
    }
    xhr2fa.send(eingang2);
    // console.log(autt)
});

function forAPP() {
    let inhalt = requestForm.elements['inhalt'].value;
    res = '';
    aus.innerHTML = '';
    let xhr = new XMLHttpRequest();
    xhr.open(method.value, '/api/' + url.value, false);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.onreadystatechange = function () {

        if(xhr.status == 200 || xhr.status == 201) {
            if(isJson(xhr.response)) {
                r = JSON.parse(xhr.response);
                if(r.entities) {
                    res = r.entities
                }
                else {
                    res = r
                }
                aus.innerHTML = '<font color="#006600">Смотри консоль</font> ';
            }
            else {
                res = xhr;
                aus.innerHTML = xhr.response;
            }
        }
        else if(xhr.status == 404) {
            res = 'status:404 Страница не найдена';
            aus.innerHTML = '<font color="#FF6600">' + res + '</font> ';
        }
        else {
            if(isJson(xhr.response)) {
                res = JSON.parse(xhr.response);
                aus.innerHTML = '<font color="#FF0000">Смотри консоль</font><br><b>title:</b> ' + res.title + '<br><b>status:</b> ' + res.status + '<br><b>detail:</b> ' + res.detail;
            }
            else {
                res = xhr;
                aus.innerHTML = xhr.response;
            }
        }
    }
    xhr.send(inhalt);
    console.log(res);
}

function forAPPfile() {
    res = '';
    aus.innerHTML = '';
    let xhr = new XMLHttpRequest();
    xhr.open(methodf.value, '/api/' + urlf.value, false);
    var formData = new FormData(formElem);
    xhr.onreadystatechange = function () {
        if(xhr.status == 200 || xhr.status == 201) {
            if(isJson(xhr.response)) {
                r = JSON.parse(xhr.response);
                if(r.entities) {
                    res = r.entities
                }
                else {
                    res = r
                }
                aus.innerHTML = '<font color="#006600">Смотри консоль</font> ';
            }
            else {
                res = xhr;
                aus.innerHTML = xhr.response;
            }
            
        }
        else if(xhr.status == 404) {
            res = 'status:404 Страница не найдена';
            aus.innerHTML = '<font color="#FF6600">' + res + '</font> ';
        }
        else {
            if(isJson(xhr.response)) {
                res = JSON.parse(xhr.response);
                aus.innerHTML = '<font color="#FF0000">Смотри консоль</font><br><b>title:</b> ' + res.title + '<br><b>status:</b> ' + res.status + '<br><b>detail:</b> ' + res.detail;
            }
            else {
                res = xhr;
                aus.innerHTML = xhr.response;
            }
        }
    }
    xhr.send(formData);
    console.log(res);
}

function isJson(str) {
    try {
        JSON.parse(str);
    } catch (e) {
        return false;
    }
    return true;
}
</script>
{% endblock %}
